@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body,
#__next {
  height: 100%;
}

html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
  height: 100dvh; /* mobile-correct */
}
